body {
  background-color: #000000;
}

.list {
  position: relative;
}

.list .main {
  min-height: 350px;
  display: flex;
  overflow: scroll;
  background-color: #000000;
  overflow-y: hidden;
}

.list>h1 {
  text-align: center;
  color: #fff !important;
}

.list .main img {
  border: 1px solid #fff;
  margin: 10px;
}